// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #364f7a;

body {
  background: $blue;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
}
